@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* Dark gray background */
    font-family: 'Poppins', sans-serif; /* Use the locally downloaded Poppins font */
    color: white; /* White text color */
}

#barcode-input {
    padding: 10px;
    margin-top: 20px;
    background-color: #f0f0f0; /* Light gray background for input field */
    color: #333; /* Dark text color for input field */
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.watermark {
    position: absolute; /* Set position to absolute */
    bottom: 10px; /* Distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-size: 12px; /* Adjust font size */
    color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
}

#scanner-container {
    text-align: center;
    padding: 20px;
    background-color: #222; /* Darker background for the scanner container */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#barcode-input {
    padding: 8px;
    margin-top: 10px;
    background-color: #333; /* Darker background for the barcode input field */
    color: white; /* White text color for the barcode input field */
    outline: none; /* Remove the default focus outline */
}

#result {
    margin-top: 10px;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
}

#previous-scans-container {
    margin-top: 20px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center; /* Center text in the previous scan list */
}

#previous-scans {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scan-item {
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
}

.scan-yes {
    background-color: #8BC34A; /* Green */
}

.scan-no {
    background-color: #FF5733; /* Red */
}

#version {
    margin-top: 20px;
    font-size: 14px; /* Increased font size */
    color: #ddd; /* Lighter text color for the version */
}
